{% extends '_layouts/base.njk' %}

{% block page_title %}Ship's Log{% endblock %}

{% block page_description %}The search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1>A Pirate's Day in the Life</h1>
      <p>This is a blog that details the adventures of a pirate ship at sea.</p>
     {% for entry in data.entries %}
      <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      <p class="entry-date">{{ entry.date }}</p>
      <hr>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
